# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# IDE configs
.idea/
.vscode/

# Environment variables
.env
*.h5
*.pkl
